html {
    font-family: 'Lucida Sans Unicode';

}

body {
    text-align: justify;
    padding: 10px 15px;
    margin: auto;
    width: 900px;
}

.engloba {
    border: 5px solid rgb(184, 182, 182);
    display: inline-block;
}

.centro {
    display: flex;
}

.menu {
    float: left;
    width: 150px;
    float: left;
}

.descrip {
    border: 1px solid rgb(184, 182, 182);
    padding: 10px 15px;
    margin: 15px;
    width: 700px;
    float: right;


}

li {
    list-style: none;
    border: 1px solid rgb(184, 182, 182);
    margin: 1px;
    padding: 10%;
    text-align: center;
    color: rgb(184, 182, 182);
    background-color: rgb(135, 187, 56);

}

a {

    text-decoration: none;
    color: black;

}

li:hover {
    background-color: blanchedalmond;

}

.actual{
    background-color: rgb(207, 141, 19);
}

h1 {
    text-align: center;
    letter-spacing: .2em;
    padding: 10px 10px 10px 10px;
    color: rgb(135, 187, 56);
}

h3 {
    color: rgb(134, 186, 56);
}

h4,
.orange {
    color: rgb(207, 141, 19);
}