html {
    font-family: 'Lucida Sans Unicode';

}

.marco {
    background-color: rgb(184, 182, 182);
    width: 910px;

}

body {
    text-align: justify;
    padding: 10px 15px;
    margin: auto;
    width: 900px;
}

.engloba {
    border: 5px solid rgb(184, 182, 182);
    display: inline-block;
    background-color: white;
    border-radius: 2%;
    width: 900px;
}

.centro {
    display: flex;
}

.menu {
    float: left;
    width: 150px;
    float: left;
}

.descrip {
    border: 1px solid rgb(184, 182, 182);
    padding: 10px 15px;
    margin: 15px;
    width: 700px;
    float: right;
    background-image: linear-gradient(rgb(233, 233, 233), white, rgb(233, 233, 233));


}

li {
    list-style: none;
    border: 1px solid rgb(184, 182, 182);
    margin: 1px;
    padding: 10%;
    text-align: center;
    color: rgb(184, 182, 182);
    background-image: linear-gradient(white 40%, rgb(135, 187, 56));

}

a {

    text-decoration: none;
    color: black;

}

li:hover {
    background-image: linear-gradient(white 20%, blanchedalmond);

}

.actual {
    background-image: linear-gradient(white 40%, rgb(207, 141, 19));

    background-color: rgb(207, 141, 19);
}

h1 {
    text-align: center;
    letter-spacing: .2em;
    padding: 10px 10px 10px 10px;
    color: rgb(135, 187, 56);
}

h3 {
    color: rgb(134, 186, 56);
}

h4,
.orange {
    color: rgb(207, 141, 19);
}

.imagen {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer {
    
    text-align: center;
    color: rgb(184, 182, 182);

}

footer a {
    color: rgb(184, 182, 182);
    font-style: italic;
    text-decoration: underline;

}